// Navigation Styles here

.navContainer {
    border-bottom: 2px dashed @silver;
    width:100%;
    display: flex;
    justify-content: center;

        nav {
            width: 62%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2.3% 0;

            @media @mobile {
                display: flex;
                flex-direction: column;
                width: 80%;
            }

                .links {
                    width:48%;
                    display: flex;
                    justify-content: space-evenly;

                    @media @mobile {
                        width: 100%;
                        justify-content: space-between;
                        padding-top: 2%;
                    }
                    
                        a {
                            text-decoration: none;
                            color: black;
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.6rem;
                        }
            }
    }
}

