// Navigation Styles here

.navContainer {
    border-bottom: 2px dashed #C0C0C0;

        nav {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2.3% 0; 

                .links {
                    width:48%;
                    display: flex;
                    justify-content: space-evenly;
                    
                        a {
                            text-decoration: none;
                            color: black;
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.5rem;
                        }
            }
    }
}